html,   /* css styling for the footer to remain at the bottom of the page on each page*/
body { 
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100%;
  position: relative;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
}
