html, body {  /* Page three css styling pretty minor*/
  background-color: gray;
    height: 100%;
    margin: 0;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    position: relative;
  }
  
  .content {
    flex: 1;
  }
  
  
  footer {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
  